<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign Up</title>
<link rel="stylesheet" href="/styles.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	
</head>
<body class="vh-100 bg-secondary">

	<div
		class="container h-100 d-flex align-items-center justify-content-center">
		<div class="card w-25">

			<h2 class="card-header text-center">Sign Up Page</h2>

			<form th:action="@{/newsmania/signup}" method="post" class="card-body">
				<div class="m-2">
					<label for="username" class='form-label'>Name:</label> <input  class="form-control" type="text" id="name"
						name="name" />
				</div>
				<div class="m-2">
					<label for="username" class='form-label'>Username:</label> <input  class="form-control" type="text"
						id="username" name="username" />
				</div>
				<div class="m-2">
					<label for="password" class='form-label'>Password:</label> <input  class="form-control" type="password"
						id="password" name="password" />
				</div>
				<p th:if="${message}" class="text-danger text-center" th:text="${message}"></p>
				<div class="m-2 text-center">
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
				<p class="text-secondary text-center">
					Existing User? <a th:href=@{/newsmania/signin}>Sign in</a>
				</p>
			</form>
		</div>
	</div>
	<!-- Bootstrap-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>
